<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block nekland_admin_title %}Administration{% endblock %}</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% block nekland_admin_content %}{% endblock %}
    </body>
</html>