{% extends 'NeklandBaseAdminBundle::layout.html.twig' %}

{% block nekland_admin_content %}
<div class="hero-unit">
    <h1>{% trans %}nekland_admin.homepage.welcome{% endtrans %}</h1>
    <p>
        {% trans %}nekland_admin.homepage.welcome_in{% endtrans %}<br />
        {% trans %}nekland_admin.homepage.what_for{% endtrans %}
    </p>
</div>
{% endblock nekland_admin_content %}
