<div class="modal fade" role="dialog" id="delete-box" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Supprimer un élément</h4>
            </div>
            <div class="modal-body">
                <p>Êtes vous sûr de vouloir supprimer cet élément ? Toute suppression est définitive.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="#" class="btn btn-danger" id="delete-item">Supprimer</a>
            </div>
        </div>
    </div>
</div>
